<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>学生修改</title>

    <!-- 公共css文件 -->
    <div th:replace="~{common/common::#common_style}"></div>

</head>

<body>
    <div id="wrapper" style="height: 100%;">

        <!-- 侧边栏 -->
        <div th:replace="~{common/common::sidebar(active = 'stuList')}"></div>

        <div id="page-wrapper" style="min-height: 100%; background-color: #EDF1F9; overflow: hidden;"
            class="gray-bg dashbard-1">

            <!-- 顶部栏 -->
            <div th:replace="~{common/common::topbar}"></div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9" style="padding: 0;">
                    <ol class="breadcrumb">
                        <li>
                            <a href="javascript:void(0)">学生管理</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/stu/list}">学生列表</a>
                        </li>
                        <li>
                            <strong>修改学生</strong>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0; height: 100%;">
                <div class="row row_one">

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>修改学生</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal m-t" id="signupForm" th:action="@{/admin/stu/update}" method="post">
                                <div class="form-group">
                                    <label class="control-label">学&ensp;&ensp;&ensp;&ensp;号：</label>
                                    <div class="col-sm-6">
                                        <input name="student_no" class="form-control" type="text"
                                               th:value="${student.getStudent_no()}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">姓名：</label>
                                    <div class="col-sm-6">
                                        <input name="student_name" class="form-control" type="text"
                                               th:value="${student.getStudent_name()}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">出生年月：</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="birthday" class="form-control layer-date"
                                               placeholder="年 / 月 / 日"
                                               th:value="${student.getBirthday()}"
                                               readonly
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">性别：</label>
                                    <div class="col-sm-3 sex">
                                        <label for="man" style="margin-right: 8px;">
                                            <input type="radio" name="sex" id="man" value="男"
                                                   th:checked="${student.getSex() == '男'}">男
                                        </label>
                                        <label for="woman">
                                            <input type="radio" name="sex" id="woman" value="女"
                                                   th:checked="${student.getSex() == '女'}">女
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">班&ensp;&ensp;&ensp;&ensp;级：</label>
                                    <div class="col-sm-6" style="display: flex">
                                        <select name="class_no" id="classSelect">
                                            <option th:each="class : ${classList}"
                                                    th:text="${class.getClassName()}"
                                                    th:value="${class.getClassId()}"
                                                    th:selected="${class.getClassId() == student.getClass_no()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group submit">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <button class="btn btn-primary" type="submit" onclick="alert('修改学生成功')">修改学生</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- 公共js文件 -->
    <div th:replace="~{common/common::#common_js}"></div>

    <script th:src="@{/js/plugins/layer/laydate/laydate.js}"></script>

    <script>
        //外部js调用
        laydate({
            elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });

        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            elem: '#end',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        laydate(start);
        laydate(end);
    </script>

</body>

</html>