<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>已通过审核</title>

    <!-- 公共css文件 -->
    <div th:replace="~{common/common::#common_style}"></div>

</head>

<body>
    <div id="wrapper" style="height: 100%;">

        <!-- 侧边栏 -->
        <div th:replace="~{common/common::sidebar(active = 'topic', index = 2)}"></div>

        <div id="page-wrapper" style="min-height: 100%; background-color: #EDF1F9; overflow: hidden;"
            class="gray-bg dashbard-1">

            <!-- 顶部栏 -->
            <div th:replace="~{common/common::topbar}"></div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9" style="padding: 0;">
                    <ol class="breadcrumb">
                        <li>
                            <a href="javascript:void(0)">课题管理</a>
                        </li>
                        <li>
                            <strong>已通过审核</strong>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0; height: 100%;">
                <div class="row row_one">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>已通过审核</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead style="top: 45px">
                                <tr>
                                    <th>#</th>
                                    <th>课题名称</th>
                                    <th>课题编号</th>
                                    <th>课题描述</th>
                                    <th>指导老师</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!--/*@thymesVar id="topicListed" type="topicListed"*/-->
                                    <tr th:each="topic, object : ${topicListed}">
                                        <td th:text="${object.index} + 1"></td>
                                        <td th:text="${topic.getTitle_name()}"></td>
                                        <td th:text="${topic.getTitle_no()}"></td>
                                        <td th:text="${topic.getTitle_desc()}"></td>
                                        <td th:text="${topic.getTeacher_name()}"></td>
                                        <td>已通过审核</td>
                                        <td>
                                            <a class="btn btn-xs btn-danger" th:href="@{/admin/top/noPass/{id}(id = ${topic.getTitle_no()}, path = 'checked')}">不通过</a>
                                        </td>
                                    </tr>
                                    <h3 th:if="${#lists.isEmpty(topicListed)}">数据为空</h3>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- 公共js文件 -->
    <div th:replace="~{common/common::#common_js}"></div>

</body>

</html>