<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>教师添加</title>

    <!-- 公共css文件 -->
    <div th:replace="~{common/common::#common_style}"></div>

</head>

<body>
    <div id="wrapper" style="height: 100%;">

        <!-- 侧边栏 -->
        <div th:replace="~{common/common::sidebar(active = 'teaList')}"></div>

        <div id="page-wrapper" style="min-height: 100%; background-color: #EDF1F9; overflow: hidden;"
            class="gray-bg dashbard-1">

            <!-- 顶部栏 -->
            <div th:replace="~{common/common::topbar}"></div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9" style="padding: 0;">
                    <ol class="breadcrumb">
                        <li>
                            <a href="javascript:void(0)">教师管理</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/tea/list}">教师列表</a>
                        </li>
                        <li>
                            <strong>添加教师</strong>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0; height: 100%;">
                <div class="row row_one">

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>添加教师</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal m-t" id="signupForm" th:action="@{/admin/tea/add}" method="post">

                                <div class="form-group">
                                    <label class="control-label">编号：</label>
                                    <div class="col-sm-6">
                                        <input name="teacher_no" class="form-control" type="text"
                                               th:placeholder="${lastId} + 1" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">姓名：</label>
                                    <div class="col-sm-6">
                                        <input name="teacher_name" class="form-control" type="text" placeholder="张三">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">性别：</label>
                                    <div class="col-sm-3 sex">
                                        <label for="man" style="margin-right: 8px;">
                                            <input type="radio" name="sex" id="man" value="男" checked>男
                                        </label>
                                        <label for="woman">
                                            <input type="radio" name="sex" id="woman" value="女">女
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">学位：</label>
                                    <div class="col-sm-6">
                                        <select name="degree" id="degreeSelect">
                                            <option value="初级教师">初级教师</option>
                                            <option value="中级教师">中级教师</option>
                                            <option value="高级教师">高级教师</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" control-label">学院：</label>
                                    <div class="col-sm-6">
                                        <select name="institute_no">
                                            <option th:each="institute : ${instituteList}"
                                                    th:text="${institute.getInstituteName()}"
                                                    th:value="${institute.getInstituteId()}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group submit">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <button class="btn btn-primary" type="submit" onclick="alert('添加教师成功')">添加教师</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- 公共js文件 -->
    <div th:replace="~{common/common::#common_js}"></div>

</body>

</html>