<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>教师管理</title>

    <!-- 公共css文件 -->
    <div th:replace="~{common/common::#common_style}"></div>

</head>

<body>
    <div id="wrapper" style="height: 100%;">

        <!-- 侧边栏 -->
        <div th:replace="~{common/common::sidebar(active = 'teaList')}"></div>

        <div id="page-wrapper" style="min-height: 100%; background-color: #EDF1F9; overflow: hidden;"
            class="gray-bg dashbard-1">

            <!-- 顶部栏 -->
            <div th:replace="~{common/common::topbar}"></div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9" style="padding: 0;">
                    <ol class="breadcrumb">
                        <li>
                            <a href="javascript:void(0)">教师管理</a>
                        </li>
                        <li>
                            <strong>教师列表</strong>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0; height: 100%;">
                <div class="row row_one">

                    <div class="ibox float-e-margins">
                        <div class="ibox" style="margin-bottom: 0">
                            <a th:href="@{/admin/tea/add}" class="btn btn-xs btn-primary" style="font-size: 14px">添加教师</a>
                            <form class="right" th:action="@{/admin/search/teacher}">
                                <input type="text" th:value="${param.content}" name="content" class="form-control" placeholder="姓名 / 编号">
                                <button type="submit" class="btn btn-xs btn-primary" style="font-size: 14px">搜索教师</button>
                            </form>
                        </div>
                        <div class="ibox-title">
                            <h5>已注册名单</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>姓名</th>
                                    <th>编号</th>
                                    <th>性别</th>
                                    <th>学位</th>
                                    <th>系部</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="teacher, object : ${teacherList}">
                                        <td th:text="${object.index} + 1"></td>
                                        <td th:text="${teacher.getTeacher_name()}"></td>
                                        <td th:text="${teacher.getTeacher_no()}"></td>
                                        <td th:text="${teacher.getSex()}"></td>
                                        <td th:text="${teacher.getDegree()}"></td>
                                        <!--/*@thymesVar id="getInstitute_name" type="institute"*/-->
                                        <td th:text="${teacher.getInstitute_name()}"></td>
                                        <td>
                                            <a class="btn btn-xs btn-primary" th:href="@{/admin/tea/update/} + ${teacher.getTeacher_no()}">修改</a>
                                            <a class="btn btn-xs btn-danger" th:href="@{/admin/tea/delete/} + ${teacher.getTeacher_no()}">删除</a>
                                        </td>
                                    </tr>
                                    <h3 th:if="${#lists.isEmpty(teacherList)}">数据为空</h3>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- 公共js文件 -->
    <div th:replace="~{common/common::#common_js}"></div>

</body>

</html>