<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>401（未授权）- My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <div th:replace="~{common/common::#common_style}"></div>
</head>
<body>

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>401!</h1>
        <h2 style="font-weight: bold">很抱歉，您的账号未经过授权未授权！</h2>
         <br></br>
        <a class="btn btn-purple waves-effect waves-light" href="/"> 返回首页</a>
    </div>
</div>

</body>
</html>